/* font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* utilitas */
@import url("./main-var.css");
@import url("./typografi.css");
@import url("./animasi.css");

* {
  font-family: "Nunito", sans-serif !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

lottie-player {
  overflow: hidden;
}

.bg-gradien {
  background: var(--gradien-bg) !important;
  background-repeat: no-repeat !important;
  position: absolute !important;
  top: 230px;
  height: 250px;
  width: 100%;
  z-index: -5;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  height: 56px;
  background: var(--white);
  box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.1);
}

.top-bar-cek {
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  height: 56px;
  width: 91%;
  background: var(--white);
  box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.1);
}

.lottie-bg {
  margin-top: -3px;
  margin-bottom: -35px;
}

.lottie-bg-mulai {
  position: absolute;
  z-index: -1;
  top: 0;
}

.lottie-setup-selesai {
  margin-top: -240px;
  margin-left: auto;
  margin-right: auto;
}

.lottie-cek-manual {
  margin: -50px 0 -40px 0;
}

.splide-layanan {
  margin-top: -80px;
  height: 470px;
  padding: 0 16px;
}

.splide-choose {
  margin-top: -150px;
  height: 550px;
}

.splide__pagination > li > .is-active {
  background-color: var(--primary);
}

.splide__pagination > li > .is-active:hover {
  background-color: var(--primary);
}

.ilustrasi {
  width: 174px;
  height: 147px;
  top: 0px;

  background: #80abff;
  border-radius: 6px;
}

.title-choose {
  z-index: -2;
  overflow: hidden;
}

.title-choose > .text-title {
  position: absolute;
  z-index: 2;
  padding: 16px;
  width: 85%;
}

.card-setup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  background: var(--white);
  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
  border-radius: 16px;
}

.circle-home {
  margin: 0 auto;
  display: block;
  width: 224px;
  height: 224px;
  left: 52px;
  top: 0px;
  background: var(--white);
  border-radius: 100%;
  box-shadow: 0px 0px 15px #8a80ff7a;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-gray-4 {
  background-color: var(--gray4) !important;
}

.bg-gray-5 {
  background-color: var(--gray5) !important;
  z-index: -5;
}

.text-center {
  text-align: center;
}

.title-home {
  height: 300px !important;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  position: static;
  height: 56px;
  left: 0px;
  top: 72px;

  /* Primary/1 */
  color: var(--white);
  background: var(--primary);
  border-radius: 4px;
  text-decoration: none;
}

.btn-choose-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  margin-top: 24px !important;

  position: static;
  width: 65%;
  height: 56px;

  /* Primary/1 */
  color: var(--white);
  background: var(--primary);
  text-decoration: none;

  border-radius: 8px 0 0 8px;
}

.btn-choose-card-disable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  margin-top: 24px !important;

  position: static;
  width: 65%;
  height: 56px;

  /* Primary/1 */
  color: var(--white);
  background: var(--gray4);
  text-decoration: none;

  border-radius: 8px 0 0 8px;
}

.btn-choose-card-disable:hover {
  background-color: var(--red);
}

.btn-outline-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  position: static;
  height: 52px;
  left: 0px;
  top: 72px;

  /* Primary/1 */
  color: var(--primary);
  background: var(--white);
  border: 3px solid var(--primary);
  border-radius: 4px;
  text-decoration: none;
}

.btn-outline-gray {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  position: static;
  height: 52px;
  left: 0px;
  top: 72px;

  /* Primary/1 */
  color: var(--gray2);
  background: var(--white);
  border: 1.5px solid #e0e0e0;
  border-radius: 4px;
  text-decoration: none;
}

.btn-outline-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  position: static;
  height: 52px;
  left: 0px;
  top: 72px;

  /* Primary/1 */
  color: var(--red);
  background: var(--white);
  border: 1.5px solid var(--red);
  border-radius: 4px;
  text-decoration: none;
}

.btn-selesai-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: static;
  width: 132px;
  height: 56px;
  background-color: var(--gray4);
  border-radius: 8px 0 0 8px;
}

.btn-kembali-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--gray2);
  position: static;
  width: 132px;
  height: 56px;
  background-color: var(--white);
  border-radius: 0 8px 8px 0;
}

.btn-pill-white {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 48px;
  border: #bdbdbd solid 1px;
  background: var(--white);
  border-radius: 30px;
  color: #4f4f4f;
}

.btn-pill-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 48px;
  background: var(--primary);
  border-radius: 30px;
  color: var(--white);
}

.card-choose-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0px;
  width: 296px;
  height: 475px;

  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
  border-radius: 16px;
}

.card-setup-mesin {
  margin: 20px auto;
  position: relative;
  padding: 16px;
  background: transparent;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
}

.card-waktu-selesai {
  position: absolute !important;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  position: static;
}
/* 
.setup-qr-tips {
    padding: 16px 0;
    position: static;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.1);
    border-radius: 8px;
}

*/

.head-setup-gray {
  height: 102px;
  left: 0px;
  top: 0px;
  background: #e0e0e0;
}

.card-head-setup {
  width: 328px;
  height: 54px;
  background: rgba(18, 18, 18, 0.25);
  backdrop-filter: blur(6px);
  border-radius: 8px;
}

.head-setup-success {
  height: 102px;
  left: 0px;
  top: 0px;
  background: #206cff;
}

.glass-card {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 6px;
}

.card-layanan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  position: relative;
  width: 264px;
  height: 420px;
  background: linear-gradient(136.06deg, #ffffff 50.7%, #c8e8fe 83.86%);
  /* DropColor/Primary */

  box-shadow: 0px 4px 10px rgba(32, 108, 255, 0.2);
  border-radius: 8px;
}

.lingkaran-nomer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1f3ff;
  border-radius: 100%;
  margin-bottom: 16px;
  height: 32px;
  width: 32px;
  color: var(--primary);
}

.lingkaran-tombol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin: 11px 16px 16px 41px;
  background: rgba(255, 255, 255, 0.6);
  /* DropColor/Primary2 */

  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
}

.content-mulai {
  position: relative;
  padding: 16px;
  height: 100%;
}

.lottie-putar-biru {
  height: 192px;
  width: 192px;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 20%);
}

.footer-card-mulai {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 0 0 16px;

  position: static;
  width: 256px;

  background: rgba(255, 255, 255, 0.5);
}
.flex {
  display: flex;
  flex-direction: column;
}
.ribbon {
  padding: 8px 12px;
  background: #ffb320;
  box-shadow: 0px 4px 10px rgba(238, 154, 28, 0.2);
}

.ribbon-biru {
  padding: 0 12px;
  background: var(--primary);
  box-shadow: 0px 4px 10px rgba(238, 154, 28, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}
.card {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
  border-radius: 8px;
}

.card-foot-mulai {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 16px;
  background: #eb5757;
  box-shadow: inset 0px 4px 10px rgba(186, 28, 28, 0.25);
}

.card-qr-bayar {
  padding: 16px;
  margin: 25% auto 27px auto;
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
  border-radius: 8px;
}

.content-setup-selesai {
  margin: -60px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.pill-tahap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(32, 108, 255, 0.2);
  border-radius: 42px;
}

.lottie-mesin-cuci {
  position: absolute;
  width: 225.21px;
  height: 224px;
  top: 207px;
  overflow: hidden;
}
.lottie-gagal {
  width: 216px;
  height: 216px;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.gedung-bg {
  background-image: url("../img/gedung.svg");
  background-repeat: repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -5;
  height: 96px;
}

.w-full {
  width: 80% !important;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 2;
  display: none;
}
.modal {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
  margin: 0 16px;
  top: 16px;
  position: absolute;
  background: var(--white);
  box-shadow: 0px 0px 20px 20px rgba(33, 109, 255, 0.15);
  border-radius: 16px;
  z-index: 3;
  visibility: hidden;
}

.modal-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

.modal-content {
  height: 250px;
}

.modal-bottom {
  position: absolute;
  background-color: var(--white);
  border-radius: 16px 16px 0 0;
  height: 45%;
  width: 100%;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden !important;
}
.bg-pin {
  background-color: #4f4f4f !important;
}

.top-bar-login {
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(4px);
  margin-bottom: 24px;
}
.title-pin {
  margin: 0 48px 48px 48px;
  color: var(--white);
}

.dot-pin-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 24px;
}

.dot-pin {
  width: 12px;
  height: 12px;
  border: 0.5px solid white;
  border-radius: 100%;
  margin: 0 15px 0 15px;
}

.num-pin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 60px;
}

.sub-num-pin-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0;
}

.sub-num-pin-wrapper:nth-child(4) {
  justify-content: center;
}

.circle-num {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.37);

  /* Glass */
  backdrop-filter: blur(6px);
}
/* !! SANDBOX !! */
.njeng {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-mesin {
  margin: 20px auto;
  position: relative;
  padding: 16px;
  background: transparent;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-tips {
  padding: 16px 0;
  position: static;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.1);
  border-radius: 8px;
  background-image: url("../img/dot-bg-kuning.svg");
  background-repeat: no-repeat;
  background-position: 95% 85%;
}

.card-head {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
  width: 80%;
  border-radius: 8px;
  padding: 16px;
  background-image: url(../img/dot-bg-biru.svg);
  background-repeat: no-repeat;
  background-position: 95% 16px;
  margin-bottom: 24px;
}
.ilustrasi-modal-konfirmasi {
  position: absolute;
  right: -30px;
  bottom: -30px;
}
.card-head-bayar {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(33, 109, 255, 0.15);
  border-radius: 8px;
  padding: 16px 0 16px 16px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-head-bayar > .content {
  display: flex;
  justify-content: space-between;
}

.card-group-setting {
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 85%;
}

.wrapper-setting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.setting-devider {
  border: 1px solid #e0e0e0;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.footer-mulai-menggunakan {
  height: 48px;

  background: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
}

.active {
  opacity: 80%;
}

.wrapper-text {
  position: absolute;
  z-index: 5;
  text-align: center !important;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.bg-mulai {
  background-color: var(--gray5) !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}
